---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

import BaseLayout from "@/layouts/BaseLayout.astro";

import CustomLink from "@/components/CustomLink.astro";
import IconLink from "@/components/IconLink.astro";
import Introduction from "@/components/Introduction.astro";
import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
);
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Introduction />
    <ul class="flex justify-center gap-4 pb-16 pt-12">
      <IconLink url="/" icon="link" />
      <IconLink url="/" icon="email" />
      <IconLink url="/" icon="github" />
      <IconLink url="/" icon="twitter" />
      <IconLink url="/" icon="youtube" />
    </ul>
    <ul class="grid gap-y-6">
      <CustomLink url="/">
        <Icon name="apple" /> Macintosh Apps
      </CustomLink>
      <CustomLink url="/">
        <Icon name="heart" /> 36 Questions
      </CustomLink>
      <CustomLink url="/">
        <Icon name="tiktok" /> TikTok
      </CustomLink>
      <CustomLink url="/">
        <Icon name="link" /> SuperWeb Themes
      </CustomLink>
      <CustomLink url="/">
        <Icon name="gumroad" /> Gumroad
      </CustomLink>
      <CustomLink url="/">
        <Icon name="buymeacoffee" /> Buy me a coffee
      </CustomLink>
    </ul>
    <ul class="grid list-none gap-y-8 px-0 py-16">
      {posts.map((post) => <Post post={post} />)}
    </ul>
  </main>
</BaseLayout>
